#logo {display:none;}


#ui-left {
    margin-top: 72px;
}
#ui-top.offset {
    margin-left: -200px;
}


/* SIDEBAR
---------------------------------------------------------------------------------------------------------------------------------------------------
*/

#sidebar #sidebar-tabs {
    display: flex;
    flex-direction: column;
    max-width: 40px;
    position: absolute;
    transform: translateX(-48px);
    box-shadow: none;
    box-sizing:border-box;
}
#sidebar-tabs > a.item {
    width: 40px;
    height: 40px;
    line-height: 40px;
}


/* MAIN CONTROLS
---------------------------------------------------------------------------------------------------------------------------------------------------
*/
.header-actions.action-buttons button,
#controls ol.control-tools > li,
#navigation #scene-list .scene.nav-item,
.dialog .dialog-buttons button.default,
.sheet footer.sheet-footer button {
    border: 1px solid #BEA988;
    background: linear-gradient(180deg, rgba(0, 0, 0, 6e-05) 0%, rgba(36, 38, 41, 0.6) 98.56%), #4B545B;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), inset 0px -2px 2px rgba(0, 0, 0, 0.18), inset 0px 1px 0px #6B7075;
    color:#FFFFFF;
}
#controls ol.control-tools > li {
    display: flex;
    width:48px;
    height:48px;
    align-items: center;
    border-radius: 999em;
    box-sizing: border-box;
}
#controls ol.control-tools > li.active,
#controls ol.control-tools > li:hover,
#sidebar-tabs > a.item.active {
    border: 2px solid #C6A086;
    background: linear-gradient(360deg, #821E32 0%, #5A141E 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), inset 0px -2px 2px rgba(0, 0, 0, 0.18), inset 0px 1px 0px #6B7075;
    border-radius: 999em;
}
.fa-classic, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fal, .far, .fas, .fat {
    font-size: 16px;
}
.controls .main-controls li.scene-control i {
    width: 16px;
    height: 16px;
    font-size: 16px;
    align-self: center;
}

.header-actions.action-buttons button.create-entry,
#navigation #scene-list .scene.view {
    background: linear-gradient(180deg, #D90429 0%, #7B0015 55.68%, #930019 87.5%);
    border: 1px solid #46000B;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-image: linear-gradient(to bottom, #E8AD3C, #AF8637) 1;
}


/* MODALS & DIALOGS
---------------------------------------------------------------------------------------------------------------------------------------------------
*/

body.change-windows:not(.system-forbidden-lands) .window-app > header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 6e-05) 0%, rgba(36, 38, 41, 0.6) 98.56%), #4B545B;
    border: 1px solid #7E7165;
    height: 40px;
    line-height:40px;
    border-radius: 0;
}
.window-app .window-header {
    flex: 0 0 40px;
    line-height: 40px;
}
.window-app .window-header .window-title {
    color: white;
}
.window-app .window-content {
    padding: 24px;
    gap: 24px;
    overflow: none;
    font-size: 16px;
}